@model IEnumerable<GestaoVendas.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>
@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@TempData["MSG_S"]</p>
}
<div class="row">
    <p>
        <a asp-action="Create" class="btn btn-outline-success"><img src="../img/novo.png" alt="Cadastrar novo cliente" title="Cadastrar novo cliente" width="40" height="40" />Cadastrar novo</a>
        <a href="../Clientes/VisualizarComoPDF/" class="btn btn-outline-danger" target="_blank"><img src="../img/pdf.png" title="Gerar PDF" alt="Gerar PDF" width="40" height="40" />Gerar PDF</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td align="center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn button-altera">Alterar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn button-detalhe">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn button-remove">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
