@model GestaoVendas.Models.Venda

@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar Venda</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Vendedor == null)
            {
                <div class="form-group font-weight-bold">
                    <label asp-for="VendedorId" class="control-label"></label>
                    <select asp-for="VendedorId" class="form-control" asp-items="ViewBag.VendedorId"></select>
                </div>
            }
            else
            {
                <label class="control-label font-weight-bold">Vendedor</label>
                <div>
                    <span class="control-label" id="vendedor" name="vendedor">
                        @try
                        {
                            @ViewBag.Vendedor.Nome
                        }
                        catch { }
                    </span>
                </div><br />
            }
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label font-weight-bold"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>


            @* Adicionar produtos *@
            <label class="control-label font-weight-bold">Produtos</label><br />
            <div class="row form-group">
                <div class="col-lg-8">
                    <select class="form-control" id="idProduto" name="idProduto">
                        @{
                            foreach (var item in (List<Produto>)ViewBag.ListaProdutos)
                            {
                                <option value="@item.Id">@item.Nome | @item.PrecoUnitario</option>
                            }
                        }

                    </select>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" value="1" id="prodQuantidade" name="prodQuantidade" />
                </div>
                <div class="col-lg-2">
                    @*<button type="button" class="btn btn-block btn-primary" onclick="AdicionarProduto()">Adicionar</button>*@
                    <input type="submit" asp-action="adicionar" value="Adicionar" name="adicionar" class="btn btn-block btn-primary" />
                </div>
            </div>
            <br />



            @*<table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Código
                            </th>
                            <th>
                                Produto
                            </th>
                            <th>
                                Quantidade
                            </th>
                            <th>
                                PrecoUnitario
                            </th>
                            <th>
                                Total
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantidade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecoUnitario)
                                </td>
                                <td>
                                    R$ @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>*@





            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-block btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-block btn-primary">Listagem de Vendas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
