@model GestaoVendas.Models.Venda

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes da venda</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            R$ @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
    </dl>
</div>
<br />
<h2>Itens da Venda</h2>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in (List<ItemVenda>)ViewBag.ItensVendas)
            {
                <tr>
                    <td>@item.ProdutoId - @item.Produto.Nome</td>
                    <td>@item.QuantidadeProduto</td>
                    <td>R$ @item.PrecoProduco</td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    @if (ViewBag.TemAcesso == true)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-block btn-success">Alterar</a>
    }
    <a asp-action="Index" class="btn btn-block btn-primary">Listagem de vendas</a>
</div>
