@model IEnumerable<GestaoVendas.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
}

<h1 class="titulo text-info">Vendas</h1>
@if (TempData["MSG_S"] != null)
{
    if (@TempData["MSG_S"].ToString() == GestaoVendas.Libraries.Mensagem.Mensagem.MSG_S001.ToString())
    {
        <p class="alert alert-success">@TempData["MSG_S"]</p>
    }
    else if (@TempData["MSG_S"].ToString() == GestaoVendas.Libraries.Mensagem.Mensagem.MSG_S002.ToString())
    {
        <p class="alert alert-danger">@TempData["MSG_S"]</p>
    }
}

<div class="row">
    <p>
        <a asp-action="Create" class="btn button-novo"><img src="../img/novo.png" alt="Cadastrar novo cliente" title="Cadastrar novo cliente" width="34" height="34" />Registrar Venda</a>
        <a href="../Vendas/VisualizarComoPDF/" class="btn button-pdf" target="_blank"><img src="../img/pdf.png" title="Gerar PDF" alt="Gerar PDF" width="40" height="40" />Gerar PDF</a>
    </p>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td align="center">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn button-detalhe">Detalhes</a>
                    @if (ViewBag.TemAcesso == true)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn button-remove">Cancelar</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
