@model IEnumerable<GestaoVendas.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
}

<h1>Vendas</h1>
<p>
    <a href="../Vendas/VisualizarComoPDF/" target="_blank"><img src="../img/pdf.png" alt="Gerar PDF" width="26" height="34" />Gerar PDF</a>
</p>
<br />
<p>
    <a asp-action="Create" class="btn btn-block btn-primary">Registrar Venda</a>
</p>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    @if (ViewBag.TemAcesso == true)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Cancelar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
