@model IEnumerable<GestaoVendas.Models.Vendedor>

@{
    ViewData["Title"] = "Vendedores";
}

<h1>Vendedores</h1>
<p>
    <a href="../Fornecedores/VisualizarComoPDF/" class="btn button-pdf" target="_blank"><img src="../img/pdf.png" title="Gerar PDF" alt="Gerar PDF" width="35" height="35" />Gerar PDF</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td align="center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn button-altera">Alterar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn button-detalhe">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn button-remove">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
