@model GestaoVendas.Models.AcessoTipoUsuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div class="col-sm-12">
    <h4>Acesso Tipo Usuário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdFuncionalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdFuncionalidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoUsuario.Id)
        </dd>
    </dl>
</div>
<div class="col-sm-12">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-block button-save">Alterar</a>
    <a asp-action="Index" class="btn btn-block button-list">Listagem de Acessos de tipos de usuário</a>
</div>
