@model IEnumerable<GestaoVendas.Models.AcessoTipoUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo text-info">Lista de acessos dos tipos de usuários</h1>
@if (TempData["MSG_S"] != null)
{
    if (@TempData["MSG_S"].ToString() == GestaoVendas.Libraries.Mensagem.Mensagem.MSG_S001.ToString())
    {
        <p class="alert alert-success">@TempData["MSG_S"]</p>
    }
    else if (@TempData["MSG_S"].ToString() == GestaoVendas.Libraries.Mensagem.Mensagem.MSG_S002.ToString())
    {
        <p class="alert alert-danger">@TempData["MSG_S"]</p>
    }
}
<p>
    <a asp-action="Create" class="btn button-novo"><img src="../img/novo.png" alt="Cadastrar novo Acesso tipo de usuário" title="Cadastrar novo Acesso tipo de usuário" width="34" height="34" />Cadastrar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFuncionalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFuncionalidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTipoUsuario)
                </td>
                <td align="center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn button-altera">Alterar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn button-detalhe">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn button-remove">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
