@model IEnumerable<GestaoVendas.Models.Fornecedor>

@{
    ViewData["Title"] = "Fornecedores";
}

<h1>Fornecedores</h1>

<div class="row">
    <p>
        <a asp-action="Create" class="btn button-novo"><img src="../img/novo.png" alt="Cadastrar novo fornecedor" title="Cadastrar novo fornecedor" width="34" height="34" />Cadastrar novo</a>
        <a href="../Clientes/VisualizarComoPDF/" class="btn button-pdf" target="_blank"><img src="../img/pdf.png" title="Gerar PDF" alt="Gerar PDF" width="34" height="34" />Gerar PDF</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td align="center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn button-altera">Alterar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn button-detalhe">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn button-remove">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
