@model IEnumerable<GestaoVendas.Models.TipoUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipos de Usuário</h1>

<p>
    <a asp-action="Create" class="btn button-novo"><img src="../img/novo.png" alt="Cadastrar novo tipo de usuário" title="Cadastrar novo tipo de usuário" width="34" height="34" />Cadastrar novo</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTipoUsuario)
                </td>
                <td align="center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn button-altera">Alterar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn button-detalhe">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn button-remove">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
