@model IEnumerable<GestaoVendas.Models.TipoUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipos de Usuário</h1>

<p>
    <a asp-action="Create"><img src="../img/novo.png" alt="Cadastrar novo tipo de usuário" title="Cadastrar novo tipo de usuário" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTipoUsuario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="../img/lapis.png" alt="Alterar" title="Alterar" width="26" height="26" /></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="../img/lupa2.png" alt="Detalhar" title="Detalhar" width="26" height="26" /></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="../img/cancelar.png" alt="Remover" title="Remover" width="26" height="26" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
