@model GestaoVendas.Models.PerfilUsuario

@{
    ViewData["Title"] = "Remover";
}

<h1 class="titulo text-info">Remover</h1>

<h3 class="titulo text-info" style="font-size: 20px;">Deseja realmente excluir o perfil de usuário selecionado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoUsuario.NomeTipoUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItentityUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItentityUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItentityUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItentityUser.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remover registro" class="btn button-delete" />
        <a asp-action="Index" class="btn  button-list">Listagem de Perfil de usuários</a>
    </form>
</div>
