@model Relatorio

<h2 class="titulo text-info">Detalhe de vendas por vendedor</h2>
<br />
<form asp-controller="Relatorio" asp-action="DetalhesVendasPorVendedor" method="post">
    <div class="row form-group">
        <div class="col-lg-6">
            <label class="control-label font-weight-bold">Vendedor</label>
            <select class="form-control" id="id_vendedor" name="id_vendedor">
                @try
                {
                    foreach (var item in @ViewBag.Vendedor)
                    {
                        if (ViewBag.IdVendedor != null && ViewBag.IdVendedor == item.Id)
                        {
                            <option value="@item.Id" selected>@item.Nome</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    }
                }
                catch { }
            </select>
        </div>

        <div class="col-lg-3">
            <label class="control-label font-weight-bold">Mês</label>
            <select class="form-control" id="mes" name="mes">
                @if (ViewBag.Mes == null)
                {
                    <option value="0"></option>
                    <option value="01">Janeiro</option>
                    <option value="02">Fevereiro</option>
                    <option value="03">Março</option>
                    <option value="04">Abril</option>
                    <option value="05">Maio</option>
                    <option value="06">Junho</option>
                    <option value="07">Julho</option>
                    <option value="08">Agosto</option>
                    <option value="09">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>

                }
                else
                {
                    @if (ViewBag.Mes == 0)
                    {
                        <option value="0" selected></option>
                    }
                    else
                    {
                        <option value="0"></option>

                    }
                    @if (ViewBag.Mes == 01)
                    {
                        <option value="01" selected>Janeiro</option>
                    }
                    else
                    {
                        <option value="01">Janeiro</option>

                    }
                    @if (ViewBag.Mes == 02)
                    {
                        <option value="02" selected>Fevereiro</option>
                    }
                    else
                    {
                        <option value="02">Fevereiro</option>
                    }
                    @if (ViewBag.Mes == 03)
                    {
                        <option value="03" selected>Março</option>
                    }
                    else
                    {
                        <option value="03">Março</option>
                    }
                    @if (ViewBag.Mes == 04)
                    {
                        <option value="04" selected>Abril</option>
                    }
                    else
                    {
                        <option value="04">Abril</option>
                    }
                    @if (ViewBag.Mes == 05)
                    {
                        <option value="05" selected>Maio</option>
                    }
                    else
                    {
                        <option value="05">Maio</option>
                    }
                    @if (ViewBag.Mes == 06)
                    {
                        <option value="06" selected>Junho</option>
                    }
                    else
                    {
                        <option value="06">Junho</option>
                    }
                    @if (ViewBag.Mes == 07)
                    {
                        <option value="07" selected>Julho</option>
                    }
                    else
                    {
                        <option value="07">Julho</option>
                    }
                    @if (ViewBag.Mes == 08)
                    {
                        <option value="08" selected>Agosto</option>
                    }
                    else
                    {
                        <option value="08">Agosto</option>
                    }
                    @if (ViewBag.Mes == 09)
                    {
                        <option value="09" selected>Setembro</option>
                    }
                    else
                    {
                        <option value="09">Setembro</option>
                    }
                    @if (ViewBag.Mes == 10)
                    {
                        <option value="10" selected>Outubro</option>
                    }
                    else
                    {
                        <option value="10">Outubro</option>
                    }
                    @if (ViewBag.Mes == 11)
                    {
                        <option value="11" selected>Novembro</option>
                    }
                    else
                    {
                        <option value="11">Novembro</option>
                    }
                    @if (ViewBag.Mes == 12)
                    {
                        <option value="12" selected>Dezembro</option>
                    }
                    else
                    {
                        <option value="12">Dezembro</option>
                    }
                }
            </select>
        </div>

        <div class="col-lg-3">
            <label class="control-label font-weight-bold">Ano</label>
            <select class="form-control" id="ano" name="ano">
                @for (int i = 0; i < 3; i++)
                {
                    var data = @Convert.ToInt32(@DateTime.Now.Year) - i;
                    if (ViewBag.Ano != null && ViewBag.Ano == data)
                    {
                        <option value="@data" selected>@data</option>
                    }
                    else
                    {
                        <option value="@data">@data</option>
                    }
                }

            </select>
        </div>
    </div><br />

    <button type="submit" class="btn btn-block btn-success" style="background-color: #49bf9d;">Pesquisar</button>
</form>

<br />

<br />

@{
    if (TempData["MSG_E"] != null)
    {
        <p class="alert alert-warning">@TempData["MSG_E"]</p>
    }
    else
    {
        <p class="font-weight-bold">Valor total de vendas: R$ @ViewBag.TotalVendas</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Data</th>
                    <th>Vendedor</th>
                    <th>Cliente</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    try
                    {
                        if (ViewBag.ListaVendas != null)
                        {
                            foreach (var item in (List<VendasPorPeriodo>)ViewBag.ListaVendas)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Data.Day.ToString("d2")/@item.Data.Month.ToString("d2")/@item.Data.Year @item.Data.Hour.ToString("d2"):@item.Data.Minute.ToString("d2")</td>
                                    <td>@item.Vendedor</td>
                                    <td>@item.Cliente</td>
                                    <td>R$ @item.Total</td>
                                </tr>
                            }
                        }
                    }
                    catch { }
                }
            </tbody>
        </table>

    }
}
