@model GestaoVendas.Models.Produto

@{
    ViewData["Title"] = "Alterar Prtoduto";
}

<h1>Alterar Produto</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                @*<input asp-for="Descricao" class="form-control" />*@
                @Html.TextArea("Descricao", @Model.Descricao, new { @class = "form-control" })
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Quantidade</label>
                <input name="quantidade" id="quantidade" required type="text" class="form-control" value="@try { @ViewBag.Quantidade } catch { }" />
                <span class="text-danger" id="msg_quantidade"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoUnitario" class="control-label"></label>
                <input asp-for="PrecoUnitario" class="form-control" />
                <span asp-validation-for="PrecoUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeMedida" class="control-label"></label>
                <select asp-for="UnidadeMedida" class="form-control">
                    @if (@Model.UnidadeMedida == "Unidade")
                    {
                        <option value="Unidade" selected>Unidade</option>
                    }
                    else
                    {
                        <option value="Unidade">Unidade</option>
                    }
                    @if (@Model.UnidadeMedida == "Caixa")
                    {
                        <option value="Caixa" selected>Caixa</option>
                    }
                    else
                    {
                        <option value="Caixa">Caixa</option>
                    }
                    @if (@Model.UnidadeMedida == "Kg")
                    {
                        <option value="Kg" selected>Kg</option>
                    }
                    else
                    {
                        <option value="Kg">Kg</option>
                    }
                    @if (@Model.UnidadeMedida == "Grama")
                    {
                        <option value="Grama" selected>Grama</option>
                    }
                    else
                    {
                        <option value="Grama">Grama</option>
                    }
                    @if (@Model.UnidadeMedida == "Litro")
                    {
                        <option value="Litro" selected>Litro</option>
                    }
                    else
                    {
                        <option value="Litro">Litro</option>
                    }
                    @if (@Model.UnidadeMedida == "Tonelada")
                    {
                        <option value="Tonelada" selected>Tonelada</option>
                    }
                    else
                    {
                        <option value="Tonelada">Tonelada</option>
                    }
                </select>

                <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkFoto" class="control-label"></label>
                <input asp-for="LinkFoto" class="form-control" />
                <span asp-validation-for="LinkFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FornecedorId" class="control-label"></label>
                <select asp-for="FornecedorId" class="form-control" asp-items="ViewBag.FornecedorId"></select>
                <span asp-validation-for="FornecedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-block btn-success" onclick="Enviardados()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-block btn-primary">Listagem de produtos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script language="JavaScript">
    function Enviardados() {

        if (document.getElementById("quantidade").value == "") {
            msg_quantidade.innerHTML = "Campo obrigatório";
        }
    }
</script>
