@model IEnumerable<GestaoVendas.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>


@if (ViewBag.TemAcessoCadastrar == true)
{
    <p>
        <a asp-action="Create"><img src="../img/novo.png" alt="Cadastrar novo produto" title="Cadastrar novo produto" /></a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkFoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecoUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadeMedida)
                </td>
                <td>
                    <img src="@item.LinkFoto" width="150" height="150" />
                </td>
                <td align="center">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn button-detalhe">Detalhes</a>

                    @if (ViewBag.TemAcessoEditar == true)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn button-altera">Alterar</a>
                    }
                    @if (ViewBag.TemAcessoRemover == true)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn button-remove">Remover</a>
                    }

                    <a href="../Produtos/VisualizarComoPDF/" target="_blank" class="btn"><img src="../img/pdf.png" title="Gerar PDF" alt="Gerar PDF" width="40" height="40" /></a>
                </td>

            </tr>
        }
    </tbody>
</table>
